<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dongeons & Dragons</title>
</head>
<link rel="stylesheet" href="./CSS/style.css">
<body>
    <nav class="navbar-home">
<ul class="navbar-list">
    <li><a href="/">ABOUT</a></li>
    <li><a href="/login">LOGIN</a></li>
    <li><a href="/profil">Profil</a></li>
</ul>
</nav>
    