
body{
    align-items: center;
}

.navbar-home{
    padding: 8px;
    background-color: rgb(49, 45, 44);
}

.navbar-list{
display: flex;
justify-content: end;

}
.navbar-list li {
    margin: 8px;
    list-style-type: none;
}

.navbar-list li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: transform 0.2s ease;
    
}

.navbar-list li a:hover{
    color: rgb(255, 199, 77);
    transform: scale(1.2);
}
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}

.login-fullbox{
    background-color: rgb(69, 128, 69);
    justify-content: center;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin-top: 20px;
    min-width: 30vw;
    min-height: 30vh;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.label-one{
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 18px;
}

.label-two{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.label-two button{
    margin-top: 6px;
}