.profile-card{
  background: url("../IMG/dndbody.png") no-repeat center;
  background-size: contain;

  max-width: 100vw; 
  max-height: 100vh;   

  aspect-ratio: 16/9; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.profile-card h1{
  font-size: 3vw;
}

.profile-card p{
  font-size: 1.5vw;
}